services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-server
    restart: no
    ports:
      - "6333:6333"

  ollama:
    build:
      context: .
    container_name: ollama-server
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_HOST=0.0.0.0:11434
      - LLM_RAG=${LLM_RAG}
      - LLM_CHUNKING=${LLM_CHUNKING}
    volumes:
      - ./ollama_models:/root/.ollama

  agent:
    build:
      context: ./Agent
      dockerfile: Dockerfile
    container_name: agent
    depends_on:
      - qdrant
      - ollama
    environment:
      - QDRANT_URL=${QDRANT_URL}
      - OLLAMA_URL=${OLLAMA_URL}
      - LLM_RAG=${LLM_RAG}
      - LLM_CHUNKING=${LLM_CHUNKING}
      - LLM_EVALUATION=${LLM_EVALUATION}
      - TRANSFORMERS_VERBOSITY=info
      - HF_HUB_ENABLE_HF_TRANSFER=1
      - EMBEDDING_MODEL=${EMBEDDING_MODEL}
      - RERANKER_MODEL=${RERANKER_MODEL}
    volumes:
      - ./Agent:/app
      - hf_cache:/root/.cache/huggingface
    ports:
      - "8501:8501"

volumes:
  hf_cache: